$green: #408f38;

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(./fonts/Poppins-SemiBold.ttf);
}

.greeting {
  width: 500px;
  padding: 10px;
  margin: auto;
  background-color: #d7e0a1;
  border-radius: 10px;

  &__title {
    font-size: 30px;
    text-align: center;
    color: $green;
    font-family: "Poppins-SemiBold";
  }
  &__image {
    margin: 0;
    padding: 0;
  }
}
